body{
    background: black;
}
#container{
    width:350px;
    background:#555;
    margin:40px auto;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: #ffffff;
}

#board li{
    width:70px;
    height: 70px;
    background: #333;
    margin: 10px;
    list-style: none;
    color: #FFF;
    font-size: 55px;
    text-align: center;
    float: left;
}

.clearfix{
    clear:both ;  /*清掉上面的float:left，不影響下面*/

}
footer{
    text-align: center;
    padding: 20px;
}
#reset{
    width: 70%;
    background: #444444;
    color: #FFF;
    padding: 15px;
    border-radius:10px; /*圓弧角*/
}

.o{
    color: green !important;
}

.x{
    color: red !important;
}